Html{
	Box-sizing:border-box;
	Font-family:sans-serif;
	Font-size:16px;
}

*, *::after, *::before{
	    padding: 0;
	    margin:0;
        box-sizing:inherit;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
}

img {
    max-width: 450px;
    height: auto ;
}

.icons  {
    max-width: 100%;
    height: auto ;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 2.5rem;
}

.section {
    margin: 6%;

}

.site-header {
    background-color: #333333;
    padding: 2rem 4rem 0;
}

.site-header.inicio {
    background: url(../img/casa-header.jpg);
    background-size: cover;
    height: 40rem;
}

.header-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-content h1 {
    color:blue;
    padding-bottom: 2rem;
    line-height: 3rem;
    text-align: left;
}

.header-more-about-us {
    font-weight: 400;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 2rem;
}

.navbar2 {
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav {
    color: black;
    display: inline;
    justify-content: space-around;
}

.navbar a {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 2rem;
    margin: 1rem;
}

.navbar2 a {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 2rem;
    margin: 1rem;
}

a {
    color: red;
}

.icons-container {
    display:flex;
    justify-content: space-between;
}

.icons-boxes {
    flex-basis: calc(33.3% - 4rem);
    text-align: center;
}

.icons h3 {
    text-transform: uppercase;
}

.icons {
    width: 10rem;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 2rem;
}

.card {
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.image-size {
    min-height: 50%;
}

.card-content {
    padding: 2rem;
}

.card-content h3 {
    margin: 0;
}

.card-content p {
    margin: 0;
}

.price {
    color:green;
    font-weight: 700;
}

.icons-character {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.icons-character li {
    flex: 0.1;
    display: flex;
}

.icons-character li img {
    margin-right: 0.5rem;
}

.d-block {
    display: block!important;
} 

.button {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    display: flex;
    text-align: center;
}

.inside-button {
    background-color: #e08709;
    display: flex;
    justify-content: flex-center;
}

.outside-button {
    background-color: #71B100;
    display: flex;
    justify-content: flex-start;
}

.button-see-all {
    display:flex;
    justify-content: flex-end;
}

.contact-image {
    background-image: url(../img//home-design.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
}

.contact-container {
    flex: 0.8;
    color: white;
    align-items: center;
}

.contact-container p {
    font-size: 1.8rem;
}

.contact-container a {
    width: 10rem;
}

.down-section-container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.down-section-container .blog {
    flex-basis: 60rem;
}

.blog h3 {
    margin: 1.5rem;
}

.down-section-container {
    flex-basis: calc(40% - 2rem);
    margin: 6%;
}

.down-section-container h3 {
    text-align: center;
}

.enter-blog {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}

.enter-blog .image{
    flex-basis: 60%;
}

.enter-blog .enter-text {
    flex-basis: calc(80% - 1rem);
}

.enter-text h4 {
    margin-left: 1rem;
    line-height: 1.2;
}

.enter-text h4::after {
    content: '';
    display: block;
    width: 20rem;
    height: 0.5rem;
    background-color: tomato;
    margin-top: 1rem;
}

.enter-text p {
    margin: 1rem;
}

.enter-text span {
    color: blue;
}

.comments {
    flex-basis: calc(40% - 2rem);
    margin-top: 2rem;
}

.comment {
    background-color: green;
    font-size: 1.5rem;
    padding: 2rem;
    color: white;
    border-radius: 2rem;
}

.comment blockquote::before {
    content: '';
    background-image: url(../img/quote-left-48.png);
    width: 2.6rem;
    height: 2.6rem;
    display: block;
}

.comment blockquote::after {
    content: '';
    background-image: url(../img/quote-right-48.png);
    width: 2.6rem;
    height: 2.6rem;
    display: block;
}

.site-footer {
    color: black;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
}

.site-footer a {
    color: white;
    margin: 1rem;
}

.site-footer p {
    color: white;
    margin-left: 1rem;
}

/* Nosotros */

.main-container h1 {
    text-align: center;
}

.content-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
}

.imagen-nosotros {
    max-width: 90%;
    padding-left: 8rem ;
}

.text-nosotros blockquote {
    font-weight: 900;
}

/* Anuncios */

.main-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
} 

.main-anuncios h2{
    margin-left: 20rem;
}

.cards-container .anuncios {
    flex-basis: cacl(33.3% - 1rem);
}

.image-anuncio {
    background-image: url(../img/CAM-TERRAZA_FINAL_NOCHE-anuncio.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
}

.card.content-anuncio {
    padding: 2rem;
    margin: 0;
}  

.card-content p {
    margin: 0;
}

.p-anuncio {
    margin: auto;
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
    justify-content: space-between;
    max-width: 90%;
}

.icons-character-anuncio {
    list-style: none;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

/* Contacto */

legend {
    font-size: 1.5rem;
    color: #333333;
}

label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

fieldset {
    margin: auto;
    max-width: 40%;
}

.contact-form p {
    font-size: 1.5rem;
    color: gray;
}

.contact-image {
    background-image: url(../img/terrazas.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
}

.contact-form-h2 {
    text-align: center;
}

.contact-header {
    text-align: center;
}

.form-container {
    padding-left: 8em;
}

.submit {
    background-color: gray;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    border: none;
    border-radius: .5rem;
}

.submit:hover {
    cursor: pointer;
}

input:not([type="submit"]),
textarea,
select{
    padding: .5rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;    
    background-color: gray;
    border: none;
    border-radius: .5rem;
}

input[type="radio"] {
    width: auto;
}

select {
    appearance: none;
}

textarea {
    height: 20rem;
}

::placeholder {
    color: black;
}